<div style="display: flex; justify-content: center; align-items: center; height: auto;">
  <div class="myCalc">
    <input #box (keyup.enter)="CalcValue(box.value)" type="text" [(ngModel)]="toShow">
    <div class="all-btn">
      <div class="all-number-btn">
        <BUtton (click)="addToInput('0')">0</BUtton>
        <BUtton (click)="addToInput('1')" >1</BUtton>
        <BUtton (click)="addToInput('2')" >2</BUtton>
        <BUtton (click)="addToInput('3')" >3</BUtton>
        <BUtton (click)="addToInput('4')" >4</BUtton>
        <BUtton (click)="addToInput('5')" >5</BUtton>
        <BUtton (click)="addToInput('6')" >6</BUtton>
        <BUtton (click)="addToInput('7')" >7</BUtton>
        <BUtton (click)="addToInput('8')" >8</BUtton>
        <BUtton (click)="addToInput('9')" >9</BUtton>
        <button (click)="addToInput('.')" >.</button>
      </div>
      <div class="all-signs-btn">
        <button (click)="addToInput('+')" >Plus</button>
        <button (click)="addToInput('-')" >Minus</button>
        <button (click)="addToInput('*')" >Multiply by</button>
        <button (click)="addToInput('/')" >devide by</button>
      </div>
    </div>
    <div class="btn-extra">
      <button (click)="Clear()">Clear</button>
      <button (click)="Back()">Back</button>
      <button (click)="Equal()">Equal</button>
    </div>
  </div>
</div>
